@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;    
    }

    .btns {
        display: flex;
        justify-content: center;
    }

    .btn {
        
        margin-bottom: 20px;
        align-items: center;        
    }

    main .container {
        margin-top: 10px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;        
    }

    .capa-principal {
        justify-content:start;
    }

    .titulo {
        margin-top: 50px;
    }

    header h2 {
        margin-left: 0;
    }
    header nav {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {

    header nav {
        margin-left: 5px;
        text-align: center;
    }

    header nav a {
        margin-right: 5px;
    }

    .titulo {
        margin-top: 0px;
        font-size: 50px;
    }
    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .backgaound-image {
        background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%),
            url('../img/capa425.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}